<section class="articlesContainer">
{{#each articles}}
{{#if this.externalLink}}
	<div class="article soCuteContainer">
		<div class ="textContainer">
			<a href="{{this.threadUrl}}">
				<h2>{{this.title}}</h2>
			</a>
			<h5>{{this.author}}</h5>
		</div>
		{{#if this.tagImg}}
			<div class="imgContainer" style="background-image: url({{this.externalLink}});">
				<img style="height: 100%; width: 100%; object-fit: cover;" src="{{this.externalLink}}">
			</div>
		{{/if}}
		{{#if this.tagVid}}
			<div class="imgContainer">
			<!-- gfycat sites: https://[[giant]].(bodyOfLink - [[https://]]).[[mp4]] -->
			<!-- imgur sites: (bodyOfLink - [[.gifv]] + .[[mp4]]) -->
				<video autoplay="" loop="" muted="" style="max-width:100%; height:auto; margin:10px 10px 10px 0;" src="{{this.externalLink}}">
				</video>
			</div>
		{{/if}}
		<div class="articleControls" data-id="{{this._id}}">
			<button class="displayNotes"><i class="fa fa-sticky-note" aria-hidden="true"></i></button>
			<button class="deleteArticle"><i class="fa fa-trash" aria-hidden="true"></i></button>
		</div>
	</div>
{{/if}}
{{/each}}
</section>
